html {
    background: linear-gradient(to right, #010326 0%, #1e0332 25%, #730255 50%, #f00 100%);
    overflow-x: hidden;
    cursor: url('./cursor.png'), auto;
}

* {
    font-family: Consolas;
    font-weight: bold;
}

body {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgray; 
}
/*
@keyframes spinny {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
*/

#first-container {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.cx {
    width: 100%;
    height: auto;
    background-color: white;
    border: 5%;
    padding: 2%;
}

.cx header {
    color: darkgray;
    font-size: larger;
    font-weight: normal;
}

.cx p {
    color: black;
}

#new {
    background-color: aquamarine;
    height: 50px;
    width: 50px;
    transform: translate(50vw, 50vh);
}

#fullscreen-div {
    background-size: 110vw;
    height: 100vh;
}

#background-art {
    position: absolute;
    top: -55%;
    left: -25%;

    z-index: -1;
    user-select: none;
    width: 150vw;
    
    animation-name: spinny;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 720s;
}

#fullscreen-div header {
    color: white;
    font-size: min(5vw, 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*header introduction text*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

/*background: linear-gradient(to right, #010326 0%, #1e0332 25%, #730255 50%, #f00 100%);*/

#intro-1 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

#intro-2 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

#intro-3 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
}

/*
div.powershell {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: #1e1e1e;
    background-size: 50px;
}*/

#MPOS {
    font-size: 10px;
    border: 1px solid;
    padding: 2px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    background: white;
}

.circle {
    position: absolute;
    background-color: none;
    width: 20px;
    height: 20px;
    border: solid 1px rgb(127.5, 127.5, 127.5);
    border-radius: 50%;
}